---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
import About from '../components/About.astro';
import Partnership from '../components/Partnership.astro'
import BlogSummary from '../components/BlogSummary.astro'



---

<Layout title="Home" intro="In Association of Tibetan Journalists, we believe in the power of collaboration to drive greater transparency and integrity in reporting.">
	<main class="space-y-20">
		<Hero/>
		
		
	
		<Testimonial/>
		<About></About>
		
		<Team/>
		
		<Contact/>
		<Partnership/>
	</main>
</Layout>