---
import Container from "../components/Container.astro"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Join Us">
	

        <Container>
            <div class="relative flex flex-col-reverse items-center md:flex-row " id="hero">
                <div class="row items-center py-5 md:pb-20 md:pt-10">
                    <div class=" space-y-10 mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">
                        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-center">Join Association of Tibetan Journalists</h2>
                        <h3 class="">New Membership</h3>
                        <p>
                            Membership is open to all who subscribe to the objects of ATJ, agree to abide by the code of ethics adopted herewith and are willing and able to take active part in the activities of the Society. To enter, he/she must be on recommendation of at least 3 members of the Governing Body or staff of any news organisation that has been in operation for more than a year within the Tibetan community and a letter to that credit may be submitted along with the membership application. Members shall pay annual membership fees, an amount fixed by the Governing Body. However, the Governing Body can exempt members who are financially unable to pay membership fees.
                        </p>
                        <p>A new member must have a years experience in a recognized Media house and must submit at least 6 months of work undertaken with the application.</p>
                        <p>
                            Termination of Membership may be decided by a two-thirds vote of the members present at any meeting of the Governing Body provided that notice of such intention is included in the agenda of the meeting and provided that notice and opportunity for explanation have been given to such member and further provided that the Governing Body is thereafter of the opinion that the member/members has been guilty of deliberate violation of the terms of Indian Constitution or the rules and regulations of ATJ as may be in force. The aggrieved member, whose membership has been terminated, shall have the right to appeal to the Governing Body against such decision.
                        </p>
                        <p>
                            Non-payment of membership fees for two consecutive years shall make a member liable for termination of membership. All such termination shall, however, have to be approved by the Governing Body.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex-row items-center">
                <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-7 pb-20">
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="/clients/JA-TPI-logo.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="/clients/rfa.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="/clients/phayul.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                        <img src="/clients/tibetan-express.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="/clients/tibet-times.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                        <img src="/clients/voa.svg" class="h-14 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="/clients/vot2.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="VOT" width="" height="" />
                    </div>
                </div>
            </div>
            
        </Container>
	</main>
</Layout>