---
import Container from "../components/Container.astro"
import Layout from '../layouts/Layout.astro';
---

<Container>
    <div class="grid md:grid-cols-6 sm:grid-cols-1  gap-4 md:px-14 xl:px-14 rounded-3xl"> 
        <div class="row md:col-span-6 pt-10">
            <h2 class="text-4xl text-lime text-center">Our History</h2>
        </div>
        <div class=" items-center py-5  md:pt-10 col-span-4">
                   <div class=" space-y-10 mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">
                       
                       <p>
                           In 1997, the Tibetan journalists working in Dharamsala met to form an organisation. The outcome was the immediate initiation of the Association of Tibetan Journalists. Subsequently, a formal Charter was adopted and the association commenced to function, even with the meagre resources available at that time.
                       </p>
                       <p>
                           Pema Dhondup, the former Producer and Editor of Sargyur, a periodical video news magazine, was elected the first President of the associaton. Rabsel, the former Editor of Tibet Times, a Tibetan language newspaper published three times a month, was elected as Vice President.
                       </p>
                      <p>
                       At the completion of Pema Dhondup’s tenure, Rabsel took over the post of President. He served until the current President, Lobsang Wangyal, commenced his tenure on 12 May 2002.
                      </p>
                      <p>
                       Ugyen Norbu, a former reporter of Radio Free Asia, served as the General Secretary since the inception of the association, until his resignation at the end of July 2004 to pursue further studies in the US.
                      </p>
                      
                   </div>
       </div>
       <div class="items-center py-5  md:pt-10 col-span-2 p-5">
        <p class="text-lg font-bold py-5">
            The founding members are:
           </p>
           <ul>
                <li><b>Pema Dhondup</b>,<br> former Producer and Editor of Sargyur</li>
                <li><b>Rabsel</b>, <br> former Editor of the Tibet Times</li>
                <li><b>The late Kunsang Paljor</b>, <br> reporter of Radio Voice of Tibet</li>
                <li><b>Ugyen Norbu</b>, <br> former reporter of Radio Free Asia</li>
                <li><b>Karma Yeshi</b>, <br>former Editor of Tibetan Rangzen</li>
                <li><b>The late Pema Lhundup</b>, <br>former Editor of English Rangzen</li>
                <li><b>Lobsang Wangyal</b>, <br>freelance photojournalist.</li>
           </ul>
       </div>

        <div class="md:col-span-6 flex flex-row pb-20 ">
            <a class="w-full px-9 mx-10 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex " rel="noopener noreferrer"  href="/about/resolution" target="_blank">
                
                <h2 class="text-center  text-xl font-normal leading-7">Resolution</h2>
            </a>
            <a class="w-full px-9 mx-10 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="/about/code-of-ethics" target="_blank">
                            
                <h2 class="text-center  text-xl font-normal leading-7">Code of Ethics</h2>
            </a>
            <a class=" w-full px-9 mx-10 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="/about/memorandum" target="_blank">
                            
                <h2 class="text-center  text-xl font-normal leading-7">Memorandum</h2>
            </a>
        </div>   
   </div>
   
</Container>



