---
import Container from "./Container.astro"
import Logo from "./Vector/Logo-vertical.astro"
import Announcement from './BlogSummary.astro'
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row md:py-40 pt-20" id="hero">
    <div class="row items-center py-5 md:w-8/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-xl  md:text-4xl font-semibold md:leading-normal">In an era where information shapes the world, we, the storytellers, unite under the banner of truth, integrity, and the pursuit of knowledge.</h1>
            <br>
        </div>
    </div>
    <div class="flex items-center space-between py-5 md:w-4/12 md:pb-20 md:py-20">
        <Logo/>
        <img src="./atj-logo.png" alt="atg-logo">
    </div>
</div>




</Container>
