---
import Container from "./Container.astro"
import Logo from "./Vector/Logo-vertical.astro"
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row md:py-40 pt-20" id="hero">
    <div class="row items-center py-5 md:w-8/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-xl  md:text-4xl font-semibold md:leading-normal">In an era where information shapes the world, we, the storytellers, unite under the banner of truth, integrity, and the pursuit of knowledge.</h1>
            <br>
        </div>
    </div>
    <div class="flex items-center space-between py-5 md:w-4/12 md:pb-20 md:py-20">
        <Logo/>
    </div>
</div>

<div class="text-center space-y-10">
    <h4 class="text-4xl text-lime text-center font-bold"><b>Partnerships & Collaborations</b> </h4>
    <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">In Association of Tibetan Journalists, we believe in the power of collaboration to drive greater transparency and integrity in reporting.</p>
    <a class="px-9 py-5 bg-gradient-to-r   from-blue-500 via-lime to-lime/90 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 bg-zinc-900 hover:bg-white text-white  border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="/join-us" target="_blank">
        <h2 class="text-center text-xl font-normal leading-7">Join Us</h2>
    </a>
</div>
<div class="flex-row items-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-7 lg:grid-cols-7 md:py-20">
        
        <div class="p-4  transition duration-200 hover:grayscale">
           <a href="https://www.thetibetpost.com" target="_blank"> <img src="./clients/JA-TPI-logo.png" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4  transition duration-200 hover:grayscale">
           <a href="https://www.rfa.org/tibetan" target="_blank"> <img src="./clients/rfa.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4  transition duration-200 hover:grayscale">
            <a href="https://www.phayul.com/" target="_blank"><img src="./clients/phayul.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4 flex  transition duration-200 hover:grayscale">
            <a href="https://tibetexpress.net/" target="_blank"><img src="./clients/tibetan-express.svg" class="h-12 w-auto m-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
            
        </div>
        <div class="p-4  transition duration-200 hover:grayscale">
            <a href="https://tibettimes.net/" target="_blank"><img src="./clients/tibet-times.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4 flex  transition duration-200 hover:grayscale">
            <a href="https://www.voatibetan.com/" target="_blank"><img src="./clients/voa.svg" class="transition h-14 w-auto m-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
       
        <div class="p-4  transition duration-200 hover:grayscale">
           <a href="https://vot.org" target="_blank"> <img src="./clients/vot2.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="VOT" width="" height=""/></a>
        </div>
    </div>
</div>

</Container>
