---
import Container from "./Container.astro"
---
<Container>


<div class="text-center pt-24">
    <h4 class="text-4xl text-lime text-center font-bold"><b>Partnerships & Collaborations</b> </h4>
    <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">In Association of Tibetan Journalists, we believe in the power of collaboration to drive greater transparency and integrity in reporting.</p>

</div>
<div class="flex-row items-center  mt-40 pb-24 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-7 lg:grid-cols-7 ">
        
        <div class="p-4  transition duration-200 hover:grayscale">
           <a href="https://www.thetibetpost.com" target="_blank"> <img src="./clients/JA-TPI-logo.png" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4  transition duration-200 hover:grayscale">
           <a href="https://www.rfa.org/tibetan" target="_blank"> <img src="./clients/rfa.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4  transition duration-200 hover:grayscale">
            <a href="https://www.phayul.com/" target="_blank"><img src="./clients/phayul.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4 transition duration-200 hover:grayscale">
            <a href="https://tibetexpress.net/" target="_blank"><img src="./clients/tibetan-express.svg" class="h-12 w-auto m-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
            
        </div>
        <div class="p-4  transition duration-200 hover:grayscale">
            <a href="https://tibettimes.net/" target="_blank"><img src="./clients/tibet-times.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
        <div class="p-4  transition duration-200 hover:grayscale">
            <a href="https://www.voatibetan.com/" target="_blank"><img src="./clients/voa.svg" class="transition h-14 w-auto m-auto hover:scale-110" loading="lazy" alt="client logo" width="" height="" /></a>
        </div>
       
        <div class="p-4  transition duration-200 hover:grayscale">
           <a href="https://vot.org" target="_blank"> <img src="./clients/vot2.svg" class="transition h-12 w-auto mx-auto hover:scale-110" loading="lazy" alt="VOT" width="" height=""/></a>
        </div>
    </div>
</div>


</Container>