---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Footer2 from '../components/Footer2.astro';
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import { ViewTransitions } from "astro:transitions";


const { frontmatter,title,intro } = Astro.props;
---

<!doctype html>
<html lang="en" class="!scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={intro} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <title>{title}</title>
    <ViewTransitions />

    <meta name="description" content={intro}/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
  <!-- Google tag (gtag.js) -->
    <GoogleAnalytics/>
  </head>
  <body class=" font-sanchez   bg-gradient-to-br from-orange-100 via-orange-50 to-orange-50 scroll-smooth">
    <Navbar />
    <slot />
    <Footer2/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  </body>
</html>
